In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.2.0-cp310-cp310-win_amd64.whl (374 kB)
     -------------------------------------- 374.2/374.2 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0

In [2]:
from pymongo import MongoClient

In [4]:
client = MongoClient(
    host = 'localhost',
    port = 27017
    )

In [5]:
client.list_database_names()

['admin', 'config', 'local']

In [6]:
db = client['ubion']

In [7]:
collection =db['test']

In [8]:
data = {
    'id':'test',
    'password':'1234'
}

collection.insert_one(data)

In [9]:
collection.find_one()

{'_id': ObjectId('632969635289d88031d54319'), 'id': 'test', 'password': '1234'}

In [13]:
data = [
    {
        'name':'test',
        'phone':"01012345678",
        'gender':'male'
    },
    {
        'loc':'seoul'
    }
]

In [ ]:
collection.update_one(
    {
        'id':'test'
    },
    
)

## mongoDB
find(조건1,조건2,조건3, 어떤 컬럼을 보여줄지)
1. db.collection.find() -> SELECT*FROM TABLE
2. db.collection.find({}, {'id':1, 'password':1}) -> SELECT _id, id, password FROM TABLE
3. db.collection.find({},{'id':1,'password':1, '_id':0}) -> SELECT id, password FROM TABLE
4. db.collection.find({'id':'test'}) -> SELECT * FROM TABLE WHERE id='test'
5. db.collection.find({'id':'test', 'password':'1234'}) -> SELECT * FROM TABLE WHERE id='test' and password='1234'
6. db.collection.find({'id':'test}, {'password':'1234'}) -> SELECT * FROM TABLE WHERE id ='test' or password = '1234'
7. db.collection.find({'age':{ $gt : 25}}) -> SELECT * FROM TABLE WHERE age >25
8. db.collection.find({'age':{ $lt : 25}}) -> SELECT * FROM TABLE WHERE age <25
9. db.collection.find({'id':{ /^bc/ }}) -> SELECT * FROM TABLE WHERE id LIKE "%bc%"
10. db.collection.find().sort({"id":1}) -> SELECT * FROM TABLE ORDER BY id ASC
11. db.collection.find().sort({"id":-1}) -> SELECT * FROM TABLE ORDER BY id DESC
12. db.collection.find().limit(10) -> SELECT * FROM TABLE LIMIT 10